*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
}

body, input {
  display: -webkit-flex;
  font-family: "Fruktur", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.age-label {
  color: #B0B5B9;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0 0 0 2px;
  font-weight: normal;

}
.the-count { text-align: left; width: 420px; }

.count {
  color: red;
  margin: 0;
  font-size: 12rem;
  line-height: 1;
  font-weight: 600;
  width: 100%;
  mix-blend-mode: multiply;



}

.count sup {
  font-size: 3.4rem;
  margin-left: 7px;
}

label {
  display: block;
}

input, button {
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
}

input {
  margin-right: 0.5rem;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #CCC;
  background-color: #FFF;
}

button {
  outline: none;
  display: block;
  cursor: pointer;
  color: #FFF;
  border: none;
  border-radius: 0.25rem;
  background-color: #0BE;
}

footer {
  padding-top: 0.5rem;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
}

#skull {position: absolute; bottom: 0; max-width: 320px; margin-left: 0%; z-index: 100; mix-blend-mode: multiply;}

#current-time {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: "Fruktur", system-ui;
  font-size: 1.2rem;
  font-weight: 400;
  z-index: 10;
}

body.light-mode #current-time {
  color: #B0B5B9;
}

body.dark-mode #current-time {
  color: #888;
}

/* Light Mode (default) */
body.light-mode {
  background-color: #fff;
  background-image: url(skull45-white.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;

}

body.light-mode .age-label {
  color: #B0B5B9;
}

body.light-mode .count {
  color: red;
}

body.light-mode input {
  border-color: #CCC;
  background-color: #FFF;
  color: #000;
}

body.light-mode button {
  background-color: #0BE;
  color: #FFF;
}

body.light-mode #skull {
  mix-blend-mode: multiply;
}

/* Dark Mode */
body.dark-mode {
  background: #000;
  color: #fff;
  background-image: url(skull45-black.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

body.dark-mode .age-label {
  color: #888;
}

body.dark-mode .count {
  color: red;
  mix-blend-mode: hard-light;

}

body.dark-mode input {
  border-color: #555;
  background-color: #2a2a2a;
  color: #fff;
}

body.dark-mode button {
  background-color: #0BE;
  color: #FFF;
}

body.dark-mode #skull {
  mix-blend-mode: screen;
  opacity: 0.9;
}
